* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------HEADER------------------------ */
header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header form,
form input {
    background-color: lightgray;

}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    gap: 0.5rem;
}

/* ------------------------MAIN------------------------ */
main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
}

/* ------------------------HEROBANNER------------------------ */
.herobanner {
    display: flex;
    gap: 1rem;
    height: 200px;
}

.herobanner article {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.herobanner article a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.heroleft {
    flex: 1;
}

.heroright {
    flex: 2;
}

/* ------------------------Genres------------------------ */
.genres {
    display: flex;
    position: relative;
    background-color: wheat;
    gap: 0.5rem;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    /* Hiding Scroll Bar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.genres::-webkit-scrollbar {
    display: none;
}

.genre {
    width: 130px;
    background-color: bisque;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    scroll-snap-align: start;
}

.prev, .next {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 1;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    left: calc(100% - 2rem);
}

.genretrending {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.genretrending article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scrollbar-width: none;
}

/* ------------------------Movie Cards------------------------ */
.card-container {
    display: flex;
    gap: 1rem;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    /* Hiding Scroll Bar */
    -ms-overflow-style: none;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
}

.card img {
    max-width: 185px;
    min-height: 278px;
}

/* ------------------------Movie Cards------------------------ */
/* ------------------------Modal------------------------ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}